@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  background-color: black;
}
.avatar{
    border-radius: 100%;
    max-width: 100%;
    height: auto;
}
.alert-box{
    min-width: 20rem;
    display: flex;
    align-items: center;
}
h1{
    font-size: 1.25rem;
    margin: 0;
    padding: 0;
}
p{
    font-size: 1rem;
    margin: 0;
    padding: 0;
}
.d-flex{
    display: flex;
}
.align-items-center{
    align-items: center;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-between{
    justify-content: space-between;
}
.emoji{
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(353deg);
}
.emoji-amount{
    font-size: 2.50rem;
    color: white;
    position: absolute;
    top: 2px;
    margin-left: 15px;
    transform: rotate(358deg);
    animation: zoom-in-zoom-out 1s ease infinite;
}
.bg-online{
    background-color: rgb(127, 217, 25);
}
.txt-online{
    color: rgb(188 255 113 / 100%);
}

.bg-offline{
    background-color: rgb(217 25 25);
}
.txt-offline{
    color: rgb(255 113 113 / 100%);
}

.rounded-full{
    border-radius: 9999px;
}
.dot-pulse{
    -webkit-animation: green-dot-pulse .8s ease-in-out infinite alternate;
    animation: green-dot-pulse .8s ease-in-out infinite alternate;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.txt{
    font-size: .75rem;
    margin-left: .25rem;
    font-weight: 500;
}
	
@-webkit-keyframes green-dot-pulse {
    to {
        opacity: .2;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}
@keyframes green-dot-pulse {
    to {
        opacity: .2;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}
@keyframes zoom-in-zoom-out {
    0% {
        transform: rotate(358deg) scale(1)
    }

    50% {
        transform: rotate(358deg) scale(1.25)
    }

    to {
        transform: rotate(358deg) scale(1)
    }
}